.difficult-page-base {
  height: 79vh;
}

.difficult-words-wrapper {
  min-height: 79vh;
}

.difficult-page-base.hidden {
  display: none;
}

.difficult-image {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.difficult-h3 {
  text-align: center;
  padding-top: 50px;
}
