.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.button-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.button {
  width: 200px;
  height: 60px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background-color: #ffff00;
  margin: 10px;
}
.textbook-button {
  height: fit-content;
  padding: 0.5rem;
}
.button:hover {
  background-color: darkorange;
  transition: .5s;
}
.allMarked {
  color:rgb(96, 95, 95);
  background-color: rgb(220, 218, 218);
}
.page__menu-games {
  padding: 1vw;
  text-align: center;
}
.page__menu-games > * {
  display: flex;
  width: 200px;
  height: 40px;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  background-color: rgb(211, 235, 247);
  color: #000;
  border-radius: 5px;
}
.cards {
 max-width: 100%;
}