.textbook {
  display: flex;
  flex-direction: column;
}
.textbook-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh;
}
.groups-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.group {
  display: inline-block;
  width: 200px;
  height: 60px;
  padding: 20px 20px;
  margin: 5px;
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 2vh;
}
.textbook-image {
  width: 45%;
}
.textbook-image > img {
  width: 90%;
}
.A1 {
  background-color: rgb(207, 246, 148);
}
.A2 {
  background-color: yellow;
}
.B1 {
  background-color: rgb(228, 140, 245);
}
.B2 {
  background-color: rgb(0, 153, 255);
}
.C1 {
  background-color: orange
}
.C2 {
  background-color: red;
}
.Difficult {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.Difficult:hover {
  background-color: #4CAF50;
  color: white;
}
