.textbook {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}
.textbook-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh;
}
.groups-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.group {
  display: inline-block;
  width: 200px;
  height: 60px;
  margin: 5px;
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 2vh;
  border:rgb(121, 201, 255) solid 2px
}
.textbook-image {
  width: 45%;
}
.textbook-image > img {
  width: 90%;
}
.A1 {
  background-color: rgb(223, 249, 185);
}
.A2 {
  background-color: rgb(254, 254, 174);
}
.B1 {
  background-color: rgb(236, 195, 245);
}
.B2 {
  background-color: rgb(169, 218, 251);
}
.C1 {
  background-color: rgb(255, 218, 149)
}
.C2 {
  background-color: rgb(251, 196, 196);
}
.Difficult {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.Difficult:hover {
  background-color: #4CAF50;
  color: white;
}
