.game-description {
    width: 50%;
    border: 2px #a6c54b solid;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.game-button {
    margin-bottom: 20px;
}

.timer-field {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    display: none;
}

.timer-field.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.update-button {
    margin-top: 35px;
    width: 350px;
}

.clock-block {
    border: 10px #ffff00 solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    line-height: 37px;
    border-left-color: darkorange;
    border-right-color: darkorange;
}

.guess-word-block {
    display: none;
    margin: 25px auto;
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: rgb(211, 235, 247);
}
.guess-word-block.open {
    display: block;
    transition: .5s;
}

.guess-word-block > p {
    padding: 15px 0;
}

.english-word {
    font-size: 2.5rem;
    font-family: 'Merryweather', sans-serif;
}

.russian-word {
    font-size: 1.6rem;
}

.game-buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.yes-button {
    width: 180px;
    height: 50px;
    background-color: rgb(27, 173, 27);
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    outline:none;
}

.yes-button::after {
    content: '⟵';
    width: 20px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.yes-button:hover {
    background-color: rgb(21, 125, 21);
    transition: .5s;
}

.no-button {
    width: 180px;
    height: 50px;
    background-color: red;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: inherit;
    position: relative;
}
.no-button::after {
    content: '⟶'; 
    width: 20px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.no-button:hover {
    background-color: rgb(208, 12, 12);
    transition: .5s;
}

.points {
    margin-top: 50px;
}

.result-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(36, 35, 35, 0.234);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.result-modal {
    width: 420px;
    height: 420px;
    background-color: #28a3e8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: -210px;
    z-index: 5;
}

.result-wrapper.active {
    display: flex;
}

.result-text {
    display: flex;
    color: #fff;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    font-size: 1.7rem;
    padding: 10px;
}

.close-modal {
    border: 2px #fff solid;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close-modal:hover {
    cursor: pointer;
    border: 2px darkorange solid;
    color: darkorange;
    transition: .3s;
}

.level-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 20px;
}

.level-wrapper.hidden{
    display: none;
}

.level-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.level {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #a6c54b;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.level:hover {
    cursor: pointer;
    background-color: darkorange;
    transition: .5s;
}

.level.active {
    background-color: darkorange;
}


@media (max-width: 640px) {
    .game-description {
        width: 90%;
    }

    .level {
        width: 40px;
        height: 40px;
    }

    .no-button::after {
        display: none;
    }

    .yes-button::after {
        display: none;
    }
}

@media (max-width: 440px) {
    .game-description {
        display: none;
    }

    .level {
        width: 60px;
        height: 60px;
    }
}
