.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr, 1.5fr);
  background-color: rgb(211, 235, 247);
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}
.card > div {
  margin: 5px;
}
.card-img {
   grid-area: 1 / 1 / 4 / 2;
}
.word {
  font-size: 20px;
}
.audio-control {
  width: 40px;
  height: 40px;
  margin: 3px;
  cursor: pointer;
}
.mark-word > button {
  margin: 0.5rem;
  font-size: medium;
  background-color: transparent;
  color: black;
  border: 2px solid #ffff00;
}
.mark-word>button:hover {
  background-color: #ffff00;
}
.difficult {
  background-color: rgb(255, 197, 212);
}
@media (max-width: 900px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}