.main-page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  box-sizing: border-box;
  text-align: justify;
  align-content: center;
  max-height: 100%;
}

.main-span {
  color: #a6c54b;
  display: inline-block;
  font-size: 2rem;
}

.main-img {
  width: 50%;
  border-radius: 15px;
}

.main-left-block {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: space-around;
  width: 42%;
}

@media (max-width: 1080px) {
  .main-page {
    flex-direction: column;
    justify-content: center;
    row-gap: 70px;
    text-align: center;
  }

  .main-left-block {
    width: 95%;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .second-row-text {
    display: none;
  }
  .main-img {
    width: 90%;
  }
}
