.games-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.game-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
}

.game-image {
    width: 90%;
}

@media(max-width: 850px) {
    .games-page-wrapper {
        flex-direction: column;
        row-gap: 45px;
    }
    .game-image {
        width: 70%;
        height: auto;
    }
}

